In [2]:
import pandas as pd

df = pd.read_csv('parsed_date_inputs_only.csv')
df.head()

                                               Input
0        The event will take place on March 5, 2023.
1                     Her birthday is on 07/08/1990.
2                        The deadline is 2022-12-31.
3                     We met on 1st of January 2000.
4  The concert is scheduled for 15th September, 2...

In [5]:

import re
from datetime import datetime

# Month mapping
MONTHS = {
    'jan': '01', 'january': '01',
    'feb': '02', 'february': '02',
    'mar': '03', 'march': '03',
    'apr': '04', 'april': '04',
    'may': '05',
    'jun': '06', 'june': '06',
    'jul': '07', 'july': '07',
    'aug': '08', 'august': '08',
    'sep': '09', 'september': '09',
    'oct': '10', 'october': '10',
    'nov': '11', 'november': '11',
    'dec': '12', 'december': '12',
}

# All formats, with optional 'of' and allowing dot separators
DATE_PATTERNS = [
    r'(?P<day>\d{1,2})(?:st|nd|rd|th)?(?:\s+of)?\s+(?P<month>[A-Za-z]+)[, ]+\s*(?P<year>\d{2,4})',
    r'(?P<month>[A-Za-z]+)\s+(?P<day>\d{1,2})(?:st|nd|rd|th)?[,]?\s+(?P<year>\d{2,4})',
    r'(?P<year>\d{2,4})[-/.](?P<month>\d{1,2})[-/.](?P<day>\d{1,2})',
    r'(?P<day>\d{1,2})[-/.](?P<month>\d{1,2})[-/.](?P<year>\d{2,4})',
    r'(?P<month>\d{1,2})[-/.](?P<day>\d{1,2})[-/.](?P<year>\d{2,4})',  # US format fallback
]

compiled = [re.compile(p, re.IGNORECASE) for p in DATE_PATTERNS]

def normalize_date_str(day, month, year):
    d = int(day)
    y = int(year)
    if y < 100:  # Fix 2-digit years
        y += 2000 if y < 50 else 1900
    if month.isdigit():
        m = int(month)
    else:
        m = int(MONTHS.get(month.lower()[:3], 0))
    if m > 12:  # Invalid month (e.g., due to wrong US format match)
        raise ValueError("Invalid month")
    return f"{d:02d}/{m:02d}/{y:04d}"

def extract_date(text):
    for pattern in compiled:
        m = pattern.search(text)
        if m:
            gd = m.groupdict()
            try:
                # Try regular format
                return normalize_date_str(gd['day'], gd['month'], gd['year'])
            except:
                try:
                    # Try flipping MM/DD/YYYY if first try fails
                    return normalize_date_str(gd['month'], gd['day'], gd['year'])
                except:
                    continue
    return None

In [6]:
# Apply the function to the 'Input' column
df['Parsed Date'] = df['Input'].apply(extract_date)

# Display first few results
df.head()

                                               Input Parsed Date
0        The event will take place on March 5, 2023.  05/03/2023
1                     Her birthday is on 07/08/1990.  19/08/2007
2                        The deadline is 2022-12-31.  31/12/2022
3                     We met on 1st of January 2000.  01/01/2000
4  The concert is scheduled for 15th September, 2...  15/09/2021

In [7]:
from IPython.display import display

display(df)  # Shows the entire DataFrame in a scrollable format

                                                Input Parsed Date
0         The event will take place on March 5, 2023.  05/03/2023
1                      Her birthday is on 07/08/1990.  19/08/2007
2                         The deadline is 2022-12-31.  31/12/2022
3                      We met on 1st of January 2000.  01/01/2000
4   The concert is scheduled for 15th September, 2...  15/09/2021
5                       Let's catch up on 02.04.2022.  20/04/2002
6                      The project started on 5/6/19.  05/06/2019
7                          He was born on 1987/11/23.  23/11/1987
8                      Christmas is on 25th Dec 2024.  25/12/2024
9              The meeting is set for April 03, 2020.  03/04/2020
10  Her birthdate, noted as 1997-05-20, is in the ...  20/05/1997
11      Her appointment is on the 2nd of March, 2021.  02/03/2021
12                       The exam date is 2021.11.10.  10/11/2021
13                      They got married on 12/12/12.  12/12/2012
14            The workshop is on February 15th, 2022.  15/02/2022
15                  Submit your report by 08/31/2021.  31/08/2021
16                The course starts on 1st July 2023.  01/07/2023
17          Independence Day is on 4th of July, 2022.  04/07/2022
18                        His birthday is 1995/10/30.  30/10/1995
19                 The new year begins on 01-01-2023.  20/01/2001
20                      The seminar is on 03/14/2022.  14/03/2022
21                         My last day is 31.08.2020.  20/08/2031
22                        The due date is 2020-02-28.  28/02/2020
23              The holiday starts on Dec 20th, 2021.  20/12/2021
24       The conference will be held on 5th May 2023.  05/05/2023
25                       They moved in on 12/25/2019.  25/12/2019
26             The festival begins on March 17, 2022.  17/03/2022
27                     The ceremony is on 11.11.2021.  20/11/2011
28                        The event is on 2023/07/04.  04/07/2023
29               Her graduation is on May 30th, 2022.  30/05/2022
30                    The release date is 2021-09-09.  09/09/2021
31                      The interview is on 1/2/2022.  01/02/2022
32                  The celebration is on 2022-10-10.  10/10/2022
33             His wedding is on 6th of August, 2020.  06/08/2020
34                    She was born on 3rd March 1998.  03/03/1998
35                      The opening is on 10/10/2018.  20/10/2010
36                        The deadline is 2020.12.15.  15/12/2020
37                        The party is on 31-12-2022.  20/12/2031
38              The workshop is on February 29, 2024.  29/02/2024
39                     Vacation starts on 07/15/2021.  15/07/2021
40              The application is due by 2022-03-03.  03/03/2022
41               The tournament is on June 1st, 2021.  01/06/2021
42                    The closing date is 08/08/2020.  20/08/2008
43                      The concert is on 2020/09/09.  09/09/2020
44                         The exam is on 01.01.2022.  20/01/2001
45                    Independence Day is 2023-07-04.  04/07/2023
46               The last date is 30th November 2022.  30/11/2022
47            The conference is on 15th October 2023.  15/10/2023
48                       His birthdate is 1990-05-20.  20/05/1990
49               The festival is on 12th August 2024.  12/08/2024